// Navigation code here
nav {
    text-align: center;
    padding: 20px;
    background-color: @nav-bg;
    border-bottom: 2px solid @nav-border;
    position: fixed;
    width: 100%;
    a {
        color: @nav-font;
        padding: 0 20px;

        @media @phone {
            padding: 0 10px;
        }
    }

    h1 {
        margin-bottom: 20px;
    }
} // End nav